<?xml version='1.0' encoding='utf-8'?>
<launch>
    <arg name="controller_config_file" default="$(find gazebo_sim_examples)/config/launch/scout_ugv1_nmpc_tracking_unicycle_ugv_controller.yaml" />
    <arg name="reference_config_file" default="$(find gazebo_sim_examples)/config/launch/scout_ugv1_nmpc_tracking_unicycle_reference_trajectory.yaml" />
    <arg name="ns" default="ugv1" />
    <arg name="model_name" default="$(arg ns)" />
    <arg name="world_name" default="$(find gazebo_sim_worlds)/worlds/empty/empty.world" />
    <arg name="gui" default="true" />
    <arg name="rviz" default="true" />
    <arg name="paused" default="false" />
    <arg name="ugv_x" default="3.0" />
    <arg name="ugv_y" default="0.0" />
    <arg name="ugv_z" default="0.181" />
    <arg name="ugv_yaw" default="1.57079632679" />
    <arg name="enable_vrpn_server" default="true" />
    <arg name="max_linear_speed" default="1.5" />
    <arg name="max_angular_speed" default="0.5235" />
    <arg name="imu_topic" default="/$(arg ns)/imu/data_raw" />
    <arg name="rviz_config" default="$(find gazebo_sim_examples)/rviz/scout_ugv1_nmpc_tracking.rviz" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include>
    <include file="$(find gazebo_sim_scout)/launch/spawn_accurate.launch">
        <arg name="ns" value="$(arg ns)" />
        <arg name="model_name" value="$(arg model_name)" />
        <arg name="x" value="$(arg ugv_x)" />
        <arg name="y" value="$(arg ugv_y)" />
        <arg name="z" value="$(arg ugv_z)" />
        <arg name="yaw" value="$(arg ugv_yaw)" />
        <arg name="max_linear_speed" value="$(arg max_linear_speed)" />
        <arg name="max_angular_speed" value="$(arg max_angular_speed)" />
    </include>
    <include if="$(arg enable_vrpn_server)" file="$(find gazebo_sim_vrpn_bridge)/launch/vrpn_server.launch">
        <arg name="auto_track_known_models" value="true" />
    </include>
    <include if="$(arg enable_vrpn_server)" file="$(find gazebo_sim_vrpn_bridge)/launch/vrpn_client.launch">
        <arg name="server" value="127.0.0.1" />
        <arg name="trackers" value="[$(arg model_name)]" />
        <arg name="frame_id" value="world" />
    </include>
    <node pkg="tf" type="static_transform_publisher" name="world_to_odom" args="0 0 0 0 0 0 world odom 100" />
    <include file="$(find estimator_vrpn_ugv_state)/launch/vrpn_ugv_state_estimator.launch">
        <arg name="ns" value="$(arg ns)" />
        <arg name="pose_source" value="vrpn" />
        <arg name="imu_topic" value="$(arg imu_topic)" />
        <arg name="pose_topic" value="/vrpn_client_node/$(arg model_name)/pose" />
    </include>
    <include file="$(find unicycle_reference_trajectory)/launch/ugv_unicycle_reference_trajectory.launch">
        <arg name="ns" value="$(arg ns)" />
        <arg name="config_file" value="$(arg reference_config_file)" />
    </include>
    <include file="$(find unicycle_ugv_controller)/launch/ugv_unicycle_nmpc_controller.launch">
        <arg name="ns" value="$(arg ns)" />
        <arg name="config_file" value="$(arg controller_config_file)" />
    </include>
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="scout_nmpc_rviz" args="-d $(arg rviz_config)" output="screen" />
</launch>